    body {
      margin: 0;
      padding: 0;
      font-family: "Gill Sans", sans-serif;
    }

    header {
      position: fixed;
      background: #005450;
      padding: 10px;
      width: 100%;
      z-index: 1;
      border-bottom:1px solid white;
    }

    .left_area h3 {
      color: #fff;
      margin: 0px;
      margin-top:4px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
    }

    .logout_btn {
      padding: 9px;
      background: #005450;
      text-decoration: none;
      float: right;
      margin-top: -30px;
      margin-right: 40px;
      font-size: 15px;
      font-weight: 600;
      color: white;
      border:1px solid #b3cccc;
      border-radius:3px;
    }

    .logout_btn:hover{
        background-color:#75a3a3;
        color:white;
    }

    .ChangePassword_btn{
      padding: 9px;
      background: #005450;
      text-decoration: none;
      float: right;
      margin-top: -30px;
      margin-right: 20px;
      font-size: 15px;
      font-weight: 600;
      color: white;
      border:1px solid #b3cccc;
      border-radius:3px;
    }

    .ChangePassword_btn:hover{
        background-color:#75a3a3;
        color:white;
    }

    .sidebar {
      background: #005450;
      margin-top: 50px;
      padding-top: 50px;
      position: fixed;
      left: 0;
      width: 270px;
      height: 100%;
      overflow:auto;
    }

    .sidebar .profile_image {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin-bottom: 5px;
    }

    .sidebar h4 {
      color: #E8E8E8;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left:-20px;
      font-size:x-large;
    }

    .sidebar-items {
      color: #E8E8E8;
      display: block;
      width: 100%;
      line-height: 55px;
      text-decoration: none;
      padding-left: 30px;
      box-sizing: border-box;
      font-size:20px;
    }

    .sidebar-items:hover {
      background: #75a3a3;
      cursor:pointer;
      color:#fff;
    }    

    ul{
      display:none; 
      list-style-type:none;   
      margin-top:-5px;
      margin-bottom:-5px;
      margin-left:12px;
    }

    .list-items{
      color: #d6d6c2;
      display: block;
      width: 100%;
      line-height: 40px;
      text-decoration: none;
      padding-left: 10px;
      box-sizing: border-box;
      font-size:16px;
    }

    .list-items:hover{
        cursor:pointer;
        color:#fff;
    }

    .content {
      background-color:#F0F0F0;
      margin-left: 220px;
      height: 100vh;
      transition: 0.5s;
    }