body {
            background-color: #F0F0F0;
        }

        a:link {
            text-decoration: none;
        }

        .content-card{
            height:450px;
            width:560px;
            background-color:white;
            margin:auto;
            border-top-right-radius:20px;
            border-bottom-left-radius:20px;
           
        }

        .content-card-header{
            height:70px;
            background-color:#fff;
            border-top-right-radius:20px;
            border-bottom:solid #F0F0F0 2px;
        }


        .content-card-header h1{       
            color:#585858;
            padding-top:22px;
            font-size:22px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align:center;
        }

        .content-parts label{
            display:block;
            font-size: 18px;
            color:#909090;
            margin-bottom:10px;
            margin-left:20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


        .content-parts input{
            width:93%;
            padding: 10px;
            margin-left:20px;
            border:solid lightgray 1px;
            border-radius:3px;
            background-color:#F8F8F8;
        }

        .content-parts{
            margin-bottom:20px;
        }

        .content-card-footer button{
            position:relative;
            top:10px;
            left:185px;
            width:160px;
            padding:10px;
            background-color:#005450;
            color:white;
            border-bottom-left-radius:20px;
            border-top-right-radius:20px;
            border:solid lightgray 1px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size:15px;
            font-weight:bold;  
            margin-top:-3px; 
        }