body{
      background-color:#F0F0F0;
      margin: 0;
      padding: 0;
      font-family: "Gill Sans", sans-serif;
      }
      .left_area {
      background: #005450;
      padding: 10px;
      width: 100%;
    }

    .left_area h3 {
      color: #fff;
      margin: 0px;
      margin-top:4px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
    }
      .content-page{
          margin-top:20px;
          text-align:center;
      }  

      .content-page h1{
          color:#005450;
          font-size:65px;
      }

      .content-page .p1{
          font-size:20px;
          line-height:30px;
          margin-bottom:40px;
          color:#484848;
      }

      .content-page .p2{
          font-size:20px;
          margin-top:50px;
          margin-bottom:20px;
          color:#484848;
      }

      .content-page a{
          display:inline-block;
          text-decoration:none;
          border-radius:5px;
          background-color:#005450;
          color:#fff;
          font-size:20px;
          padding:15px;
          width:220px;
      }

      .content-page hr{
          color:#d6d6c2;
      }